*{
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: #686b78;
}
body{
  font-family: 'Poppins', sans-serif;
}
.header-menu ul{
  margin-bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header-menu ul li{
  list-style-type: none;
  padding: 10px;
  margin-right: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #686b78;
}
.logo{
  padding: 10px;
  font-size: 35px;
  color: #fc8019;
  font-weight: 800;

}
.top-header{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  position: fixed;
  top: 0;
  z-index: 999;
  background: white;
}
.page_heading{
  font-size: 23px;
  font-weight: 600;
}
.whats_scroll{
  display: flex;
  width: 100%;
  overflow-x: scroll;
}
.main-scroll{
  width: 100%;
  overflow-x: scroll;
}

.grid_property{
  display: grid;
  grid-template-columns: repeat(4,4fr);
  column-gap: 10px;
  row-gap: 10px;
}

.p-mt{
  margin-bottom: 2px;
  color: grey;
}
.footer{
  background: black;
  padding: 10px;
  color: white;
  text-align: center;
}

@media  (min-width:340px) and (max-width:780px){
  .grid_property{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    column-gap: 10px;
    row-gap: 10px;
  }
  .header-menu ul {
    flex-wrap: wrap;
}
}
.search-icon{
  padding: 5px;
    background: #ababab;
    color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.mt-8rem{
  margin-top: 8rem;
}
.card_shim{
  height: 180px;
  width: 100%;
  border-radius:20px;
  background-color: #ebebeb;
}
.text_shim{
  background-color: #ebebeb;
  border: 3px solid #ebebeb;
}
.res-head{
  border-bottom: 5px solid #fc8019;
  display: inline-block;
}

.bg-blue{
  background: aliceblue;
  padding: 30px;
}
.inprogress{
  text-align: center;
  font-size: 50px;
}

table,tr,td,th{
  border: 1px solid black;

}
td,th{
  border-collapse: collapse;
  padding: 10px;
}
table{
  width: 100%;
}

.pdMain{
  padding: 10px;
}
.pdMain:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
  
}
.font-13{
  font-size: 13px;
}

.outer-part{
  border: 1px solid grey;
  padding: 5px;
  border-radius: 5px;
}    
.seperator{
  border: 1px dotted grey;
  margin-bottom: 1rem;
}
